<div class="container-fluid p-3 d-flex justify-content-center">
    <div class="card">
        <img [src]="faceSnap.imageUrl" class="card-img-top customized-picture" [alt]="title" [title]="title">
        <div class="card-body d-flex justify-content-center text-dark rounded-2">
            <h3>{{faceSnap.title}}</h3>
        </div>
        <div class="card-body d-flex justify-content-center text-secondary rounded-2">
            <p class="card-text">{{faceSnap.description}}</p>
        </div>
        <div class="card-footer d-flex justify-content-around bg-light text-warning rounded-2">
            <h4 class="border border-2 rounded-3 border-warning p-1">
                <span>👏</span> 
                <span class="text-secondary small">{{faceSnap.snaps}}</span>
            </h4>
        </div>
        <div class="card-footer d-flex justify-content-center text-info rounded-2">
            <div>Mise en ligne le {{faceSnap.createdDate}}.</div>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <button (click)="addSnap()" class="btn border-warning border border-5 text-dark rounded-5">{{buttonText}}</button>
        </div>
    </div>
</div>
