.customized-picture {
    min-width: 35vw;
    max-width: 35vw;
    min-height: 20vw;
    max-height: 20vw;
    margin: 0;
    padding: 0;
}

.snapped{
    background-color: #7bed9f;
}

.unsnapped{
    background-color: #ff7f50;
}
